.standings-main {
  height: 93vh;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.standings-head {
  background-color: #181818;
  color: white;
  border-radius: 15px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.standings-head h2 {
  cursor: pointer;
}

.standings-promotions {
  display: flex;
  margin-left: 20px;
}

.promotion-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.standings-promotions h5 {
  margin-left: 10px;
}

.standings-title {
  display: flex;
  justify-content: space-between;
}

.standings-body {
  background-color: #111;
  width: 100%;
}

.standings-table {
  width: 100%;
}

table {
  padding: 10px;
  margin-top: 25px;

  border-radius: 20px;
  background-color: #181818;
}

th {
  color: white;
}

@media (max-width: 600px) {
  .standings-body {
    overflow-x: scroll;
  }

  .standings-table {
    overflow-x: scroll;
    width: 400px;
  }

  .standings-promotions {
    flex-direction: column;
  }

  .standings-promotions h5 {
    display: none;
  }

  .standings-promotions {
    width: 80px;
    flex-direction: row;
    padding-bottom: 20px;
    justify-content: space-between;
  }

  .promotion-item {
    margin-left: 0;
  }
}

@media (max-width: 738px) {
  .standings-head {
    flex-direction: column;
  }
  .standings-promotions {
    margin-left: 0;
  }
}
