.favourites-container {
  width: 100%;
  padding: 30px;

  display: flex;
  flex-direction: column;
}

.favourites-info span {
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
  color: white;
}
