.results-container {
  height: 91vh;
  width: 100%;
  padding: 30px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.results-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.results-schedule {
  margin-right: 5px;
}

.results-info-title {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.results-info-title h3 {
  margin-left: 15px;
  color: white;
}

.results-info-logo {
  height: 30px;
  width: 50px;
  margin-bottom: 10px;
}

.results-prev-upcoming {
  padding: 10px 20px;
  background-color: #181818;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: "Jost";
  cursor: pointer;
}

.results-button {
  margin-right: 10px;
}

@media (max-width: 552px) {
  .results-info {
    flex-direction: column;
  }
}
