.home-main {
  background-color: #181818;
  color: white;
  padding: 70px;
}

.home-container {
  border-radius: 20px;
  display: flex;
}

.home-live-results {
  background-color: #111;
  border-radius: 20px;
  flex: 3;

  padding: 30px;
  margin-left: 20px;
}

.news-container {
  background-color: #111;
  border-radius: 20px;
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px 30px;
}

.home-live-head {
  padding-bottom: 5px;
}

@media (max-width: 1200px) {
  .home-main {
    height: auto;
  }
  .home-container {
    flex-direction: column-reverse;
    height: auto;
  }

  .news-container {
    display: none;
  }

  .home-live-results {
    margin-left: 0;
    margin-top: 20px;
    border-radius: 20px;
    flex-shrink: inherit;
  }

  .news-title {
    display: none;
  }
}
