.countries-main {
  display: grid;
  grid-gap: 20px;
  padding: 20px;
}

.search-container {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.search-container input {
  height: 50px;
  width: 300px;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 25px;
  padding-left: 20px;
}

@media (min-width: 692px) {
  .countries-main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 937px) {
  .countries-main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1470px) {
  .countries-main {
    grid-template-columns: repeat(4, 1fr);
  }
}
