.sidebar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  margin-top: 30px;
}

.sidebar-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

/* @media screen and (max-width: 1166px) {
  .sidebar-body {
    flex-direction: row;
    width: 100%;
    height: 100%;

    align-items: center;
  }
  h1 {
    display: none;
  }
}

@media screen and (max-width: 886px) {
  .sidebar-container {
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1164px) {
  .sidebar-head {
    display: none;
  }
  .sidebar-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidebar-body {
    margin-top: none;
  }
} */

@media (max-width: 1166px) {
  .sidebar-head {
    display: none;
  }

  .sidebar-body {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0;
  }

  @media (max-width: 921px) {
    .sidebar-container {
      overflow-x: scroll;
    }

    .sidebar-head {
      display: none;
    }

    .sidebar-body {
      margin-top: 0;
      gap: 0;
    }
  }

  /* .sidebar-container {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
}

/* @media (max-width: 720px) {
  .sidebar-body {
    width: 380px;
  }
} */

@media (max-width: 704px) {
  .sidebar-body {
    justify-content: flex-start;
  }
}
