@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content-container {
  min-height: calc(100vh - 100px);
  display: flex;
  padding: 70px;
  background-color: #181818;
}

/* .header {
  background-color: lightblue;
  height: 100px;
  display: flex;
} */

.sidebar {
  min-width: 300px;
  background-color: #111;
  display: flex;
  border-radius: 20px;
  height: 100vh;
  /* margin-top: 20px; */
}

.content {
  display: flex;
  flex-grow: 1;
  background-color: #111;
  border-radius: 20px;
  /* margin-left: 20px; */
}

@media screen and (max-width: 1026px) {
  .content-container {
    display: flex;
    flex-direction: column;
    /* flex-direction: column-reverse; */
  }

  .sidebar {
    height: 100px;
  }

  .content {
    margin-top: 20px;
  }
}

@media (min-width: 1026px) {
  .content {
    margin-left: 20px;
  }
}
